/* Resetting style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling */
body{
    height: 100vh;
    background-color: #003B36;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

#calculator{
    max-width: fit-content;
    width: 100%;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.display{
    height: 80px;
    border: 3px solid rgb(215, 201, 201);
    border-radius: 5px;
}

.display .display-number{
    width: 100%;
    height: 100%;
    background-color: #F4F4F9;
    font-size: 20px;
    border: none;
    outline: none;
    text-align: right;
}

.display .display-number:disabled{
    color: #000000;
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(5,60px);
    gap: 4px;
}

.btn-container button{
    border: 3px solid rgb(215, 201, 201);
    background-color: #F4F4F9;
    border-radius: 5px;
    cursor: pointer;
    font: 500 20px "Montserrat", sans-serif;
}

.btn-container .clear,
.btn-container .backspace{
    grid-column: span 2;
}